@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700;900&family=Poppins:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700;900&family=Fraunces:opsz,wght@9..144,600;9..144,900&family=Poppins:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700;900&family=Fraunces:opsz,wght@9..144,600;9..144,900&family=MuseoModerno:wght@500;800&family=Poppins:wght@500;600&display=swap");
* {
  margin: 0% 0% 0% 0%;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .background div {
  position: absolute;
  border-radius: 100%;
  height: 0;
  filter: blur(240vw);
  opacity: 0.4;
  z-index: -999;
}

.background div:nth-child(1) {
  background: linear-gradient(132deg, #0e51d8 0%, #0f8acc 100%);
  width: 91%;
  padding-top: 91%;
  left: 100%;
  top: 90%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -999;
} */

.hr {
  display: none;
}

@media screen and (max-width: 768px) {
  .hr {
    display: block;
  }
}

.container-main {
  background-color: aqua;
  height: 70vh;
  margin: 0;
}

.explore {
  background-color: #191d23;
  padding-top: 100px;
  height: max-content;
  padding-bottom: 100px;
  margin: 0;
}
.container-flex {
  display: flex;
}
.ie {
  background-color: #2571e471;

  filter: blur(330px);
  -webkit-filter: blur(330px);
  width: 800px;
  position: absolute;
  border-radius: 100%;
  border-top-top-radius: 110px; /* 100px of height + 10px of border */
  border-top-right-radius: 110px;
  height: 200px;
  top: 800px;
  right: 0;
  transition: all 0.8s ease-in-out;
}
.ie-2 {
  background-color: #2571e471;

  filter: blur(150px);
  -webkit-filter: blur(150px);
  width: 500px;
  position: absolute;
  border-radius: 70%;
  border-top-top-radius: 110px; /* 100px of height + 10px of border */
  border-top-right-radius: 110px;
  height: 400px;

  left: 0;
  transition: all 0.8s ease-in-out;
}

.title-container {
  margin-top: 50px;
  margin-left: 70px;
}

.title-container h1 {
  color: white;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 60px;
  font-weight: 900;
  margin: 0;
  padding: 0;
  max-width: 300px;
  line-height: 60px;
}
.card-container {
  margin-left: 80px;
  display: flex;
  align-items: center;
  overflow-x: auto;

  transition: all 0.3s ease-in-out;
}

.card-container::-webkit-scrollbar {
  display: none;
  width: 0;
}
.card-container .card {
  background-color: rgba(247, 249, 247, 0);
  min-width: 300px;
  height: 400px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

  transition: all 0.3s ease-in-out;

  border-width: 2px;
  border-style: solid;
  border-color: rgb(121, 198, 245);
}

.new-badge {
  background-color: #3595e9;
  text-align: center;
  color: #cde8f9;
  width: 40px;
  padding: 8px 20px;
  border-radius: 15px 15px 15px 15px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 25px;
  margin-top: 24px;
}

.title-card {
  color: #f3f8fb;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 30px;
  font-weight: 900;

  margin: 0;
  padding: 0;
  max-width: 200px;
  line-height: 50px;
  margin-top: 30px;
  margin-left: 20px;
}

.desc-card {
  color: #b6b9bb;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  max-width: 250px;
  line-height: 20px;
  margin-top: 15px;
  margin-left: 20px;
}

.card-container .card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card-container .card:hover .new-badge {
  background-color: #f3f8fb;
  color: #3595e9;
}

.play-button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #3f8ed4;
  margin-top: 40px;
  margin-left: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-button .circle {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #ecf1f3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-hatta img {
  height: fit-content;
  margin-left: 10px;
}

.about-container {
  background-color: #191d23;
  height: fit-content;
  padding: 50px;
  padding-bottom: 40px;
  padding-top: 200px;
}

.about-border {
  border: 1px solid #79bfe8;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 40px;
  height: 500px;
  max-width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
}

.about-title {
  margin-left: 50px;
  padding-top: 50px;
  z-index: 999999;
}

.about-border h1 {
  color: #f3f8fb;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 100px;
  font-weight: 900;
  margin: 0;
  padding: 0;
  max-width: 300px;
  line-height: 100px;
  margin-top: 30px;
  margin-left: 20px;
}

.about-desc {
  color: #cbcdce;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  max-width: 300px;
  line-height: 20px;
  padding-top: 100px;
  margin-top: 45px;
  margin-left: 20px;
  margin-right: 60px;
  transition: all 0.5s ease-in-out;
}

.button-readmore {
  background-color: #3f8ed400;
  color: #ecf1f3;
  border: 1px solid #3595e9;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  max-width: 100px;
  line-height: 20px;
  margin-top: 25px;

  border-radius: 10px;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
}
.button-readmore:hover {
  background-color: #3f8ed4;
  color: #ecf1f3;
  border: 1px solid #3595e9;
}
@media screen and (max-width: 1330px) {
  .about-imagess {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .explore {
    padding: 20px;
    padding-bottom: 40px;
  }
  .container-flex {
    display: flex;
    flex-direction: column;
  }
  .container-hatta {
    display: none;
  }
  .ie {
    width: 300px;
    filter: blur(180px);
    -webkit-filter: blur(180px);
  }

  .ie-2 {
    width: 300px;
    filter: blur(180px);
    -webkit-filter: blur(180px);
  }
  .title-container {
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 40px;
  }
  .card-container {
    margin-left: 0px;
    display: flex;
    align-items: center;
    overflow-x: auto;
  }

  .about-imagess {
    display: none;
  }
}

@media screen and (max-width: 1330px) {
  .about-container {
    padding: 0;
    padding-top: 100px;
    padding-bottom: 80px;
  }
  .about-border {
    height: fit-content;
    border: none;
    padding: 0;

    transition: all 0.3s ease-in-out;
  }
  .about-title {
    font-size: 70px;
    line-height: 50px;
    margin-left: 0px;
    padding-top: 10px;
  }

  .about-desc {
    padding-top: 0px;
    transition: all 0.8s ease-in-out;
  }

  .about-title h1 {
    font-size: 60px;
    line-height: 50px;
    padding-left: 0px;
  }
}

@media screen and (min-width: 1330px) {
  .about-border {
    max-width: 1200px;
  }
}

.about-imagess img {
  width: 700px;
  margin-left: 100px;
  filter: brightness(60%);
  transition: all 0.5s ease-in-out;
}

.about-imagess img:hover {
  filter: brightness(80%);
  width: 800px;
}

@media screen and (max-width: 30000px) {
  .about-imagess {
    position: absolute;
    right: 300px;
    bottom: 0px;
  }
}
